.row
  .col-xs-12
    %ul
    - @threads.each do |thread|
      %li{class: thread.unread? ? 'strong' : ''}
        =link_to "#{thread.subject_number} (unread: #{thread.unread_count}) last_received: #{thread.last_received} " , sms_thread_sms_messages_path(thread)
    =paginate @threads
  .col-xs-6

