.row
  .col-xs-12
    %table.table-condensed.table
      %thead
        %tr
          %th
            Subject Number
          %th
            Last Received
          %th
            Actions
      %tbody
        - @threads.each do |thread|
          %tr{class: thread.unread? ? 'strong' : ''}
            %td
              =link_to "#{thread.subject_number}  #{thread.unread? ? '(unread)': ''}" , sms_thread_sms_messages_path(thread)
            %td="last_received: #{thread.last_received}"
            %td=thread.unread? ? '' : link_to( "Mark as unread", mark_as_unread_sms_thread_path(thread), method: 'post')

    =paginate @threads

